<nav>
  <div class="nav-wrapper" style="background-color: rgb(1, 41, 92)">
    <a routerLink="" class="brand-logo">  CENTRAL DE ESTÁGIO   ADM</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/users" routerLinkActive="active">Vagas</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Cursos</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Empresas</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Usuários</a></li>
    </ul>
  </div>
</nav>
